{% extends 'base.html' %}
{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/workshop-listing.css' %}">
{% endblock page_css %}

{% block content %}
    <section class="hero hero-half">
        <div class="hero-img-wrapper">
            <img src="{{ self.image.file.url }}" alt="hero image" class="img-full"/>
        </div>
        <div class="container hero-wrapper" data-aos="fade-up" data-aos-duration="2000">
            <div class="content-wrapper" data-gap="2xl">
                <h1 class="title capitalize" data-color="l-400">{{ self.heading|safe }}</h1>
                <p class="description" data-color="l-400">{{ self.description }}</p>
            </div>
        </div>
    </section>
    <section class="workshop-listing-wrapper">
        <div class="container">
            <div class="heading-wrapper">
                <!-- <div class="marquee-animation">
                    <div class="name static-name">Courses</div>
                    <div class="name ab-name">Courses</div>
                </div> -->
                <div class="w-heading heading capitalize anm_mod left" data-lh="1">
                    Explore <br/> <span data-color="p-500">Our Courses</span>
                </div>
            </div>
            {% if cards %}
                <div class="courses-wrapper">
                    {% for card in cards %}
                        <div class="card" data-aos="fade-up" data-aos-duration="2000">
                            <div class="c-heading-wrapper">
                                <div class="sub-heading" data-weight="500">{{ card.heading|safe }}</div>
                                <div class="pill">{{ card.course_type }}</div>
                            </div>
                            <a href="{{ card.url }}" class="img-wrapper">
                                <img src="{{ card.image.file.url }}" alt="workshop image" class="img-full"/>
                                <div class="pill">{{ card.course_type }}</div>
                            </a>
                            <div class="content-wrapper">
                                <div class="sub-heading capitalize" data-weight="500">{{ card.heading|safe }}</div>
                                <div class="description " data-weight="500"
                                     data-color="g-400">{{ card.description }}</div>
                                <div class="flex-wrapper">
                                    <div class="data">
                                        <p data-weight="500" class="note" data-color="g-300">Duration</p>
                                        <p data-weight="500" class="caption">{{ card.course_duration }}</p>
                                    </div>
                                    <div class="data">
                                        <p data-weight="500" class="note" data-color="g-300">Starting From</p>
                                        <p data-weight="500" class="caption">{{ card.course_stating_date }}</p>
                                    </div>
                                    <div class="btn-wrapper">
                                        <a class="btn" href="{{ card.course_url }}" data-variant="primary">Enroll
                                            now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
    <section class="workshop-g">
        <div class="container full-width">
            <div class="heading capitalize full-width-text anm_mod left" data-color="g-500">{{ self.galley_heading|safe }}</div>
            <div class="wrapper" data-aos="fade-up" data-aos-duration="2000">
                <div class="swiper workshop-g-swiper w-wrapper c-workshop-swiper ">
                    {% with total=page.galley_images|length %}
                        <div class="swiper-wrapper" >
                            {% for block in page.galley_images %}
                                
                            <div class="swiper-slide">
                                <div class="card-wrapper">
                                

                                    {% if block.block_type == 'image' %}
                                        <div class="card">
                                            <img src="{{ block.value.file.url }}" alt="Gallery Image" class="img-full">
                                        </div>
                                    {% endif %}

                            
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>

                       
                    {% endwith %}
                    
                </div>
               
            </div>
        </div>
    </section>
{% endblock content %}


{% block page_script %}
    <script>
        var swiper = new Swiper(".c-workshop-swiper", {
            spaceBetween: 20,
            centeredSlides: true,
            speed: 6000,
            autoplay: {
                delay: 1,
            },
            loop: true,
            slidesPerView:'auto',
            allowTouchMove: false,
            disableOnInteraction: true
        });
    </script>
{% endblock page_script %}
