.about-brand {
  @apply py-20;
}
.about-brand .pill {
  @apply uppercase px-6 py-4 w-max rounded-full outline outline-2 outline-warning;
}
.about-brand .content-wrapper {
  @apply mt-10 pt-10 border-t border-t-grey-100 flex flex-col items-stretch gap-16;
}
.about-brand .content-wrapper .flex-wrapper {
  @apply flex items-end justify-between gap-10 w-full;
}
.about-brand .content-wrapper .sub-heading {
  @apply text-right;
}
.about-brand .grid-wrapper {
  @apply flex flex-wrap justify-center;
}
.about-brand .grid-wrapper .card {
  flex: 0 0 16.6666666667%;
  @apply outline outline-1 outline-grey-100 flex items-center justify-center p-8;
  aspect-ratio: 1;
}
.about-brand .grid-wrapper .card img {
  max-width: 100%;
  max-height: 100%;
}

.about-media .pill {
  @apply uppercase px-6 py-4 w-max rounded-full outline outline-2 outline-primary;
}
.about-media .content {
  @apply mt-10 pt-10 border-t border-t-grey-100 flex flex-col items-stretch gap-16;
}
.about-media .content .flex-wrapper {
  @apply flex items-end justify-between gap-10 w-full;
}
.about-media .content .sub-heading {
  @apply text-right;
}
.about-media .content .about-swiper {
  @apply w-full h-full overflow-hidden;
}
.about-media .content .about-swiper .card {
  flex: 0 0 calc(33.33% - 1.375rem);
}
.about-media .content .about-swiper .card .img-wrapper {
  @apply w-full overflow-hidden rounded-3xl relative;
  aspect-ratio: 2.06;
}
.about-media .content .about-swiper .card .img-wrapper .pill {
  @apply rounded-full bg-primary text-white absolute w-max uppercase text-base;
  left: 2rem;
  top: 2rem;
  padding: 0.75rem 1.5rem;
}
.about-media .content .about-swiper .card .content-wrapper {
  @apply mt-6 flex flex-col gap-10;
}
.about-media .content .about-swiper .card .content-wrapper .description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.about-media .content .about-swiper .card .content-wrapper .flex-wrapper {
  @apply flex items-center gap-4;
}
.about-media .content .about-swiper .card .content-wrapper .flex-wrapper .profile {
  @apply rounded-full overflow-hidden;
  width: 3.5rem;
  height: 3.5rem;
}
.about-media .content .about-swiper .c-swiper {
  @apply pb-9;
}
.about-media .content .about-swiper .c-swiper .swiper-pagination-bullet-active {
  @apply bg-warning;
}

.about-founder {
  @apply bg-light-300;
  padding: 7.5rem 0;
}
.about-founder .wrapper {
  @apply flex items-stretch justify-between;
  gap: 4.3125rem;
}
.about-founder .wrapper .left-content {
  @apply w-full;
  max-width: 44.5rem;
}
.about-founder .wrapper .left-content .data-wrapper .heading-wrapper {
  @apply flex flex-col gap-6;
}
.about-founder .wrapper .left-content .data-wrapper .heading-wrapper svg {
  width: 8.375rem;
}
.about-founder .wrapper .left-content .data-wrapper .img-wrapper {
  @apply hidden overflow-hidden aspect-square rounded-full;
}
.about-founder .wrapper .left-content .info-data {
  font-family: Inter Tight, serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  @apply mb-3.5 mt-32;
}
.about-founder .wrapper .right-content {
  @apply flex-1 overflow-hidden rounded-3xl;
}

.about-mission {
  @apply py-20;
}
.about-mission .pill {
  @apply uppercase px-6 py-4 w-max rounded-full outline outline-2 outline-warning;
}
.about-mission .content-wrapper {
  @apply mt-10 pt-10 border-t border-t-grey-100 flex flex-col items-stretch gap-16;
}
.about-mission .content-wrapper .flex-wrapper {
  @apply flex items-end justify-between gap-10 w-full;
}
.about-mission .content-wrapper .flex-wrapper .heading {
  max-width: 62.5rem;
}
.about-mission .content-wrapper .grid-wrapper {
  @apply flex items-center justify-end;
}
.about-mission .content-wrapper .grid-wrapper .font-number {
  @apply flex items-start gap-1 -mr-12;
  font-size: 15.625rem;
  line-height: 1;
  font-family: Inter Tight, serif;
  font-weight: 600;
}
.about-mission .content-wrapper .grid-wrapper .font-number .plus {
  font-size: 7.5rem;
  font-weight: 900;
}
.about-mission .content-wrapper .grid-wrapper .pill {
  @apply -rotate-90;
}
.about-mission .content-wrapper .grid-wrapper .description {
  max-width: 40.5rem;
}

.about-exp {
  @apply py-20;
}
.about-exp .pill {
  @apply uppercase px-6 py-4 w-max rounded-full outline outline-2 outline-warning;
}
.about-exp .content-wrapper {
  @apply mt-10 pt-10 border-t border-t-grey-100 flex flex-col items-stretch gap-12;
}
.about-exp .content-wrapper .flex-wrapper {
  @apply flex items-end justify-between gap-10 w-full;
}
.about-exp .content-wrapper .flex-wrapper .heading {
  max-width: 62.5rem;
}
.about-exp .content-wrapper .grid-wrapper {
  @apply flex items-start justify-between gap-20;
}
.about-exp .content-wrapper .grid-wrapper .img-wrapper {
  @apply flex-1 overflow-hidden rounded-3xl;
}
.about-exp .content-wrapper .grid-wrapper .content {
  max-width: 46.75rem;
  @apply relative flex flex-col;
  gap: 10.3125rem;
}
.about-exp .content-wrapper .grid-wrapper .content:before {
  @apply bg-warning w-0.5 h-full absolute top-6 -z-10;
  left: 1.375rem;
  content: "";
}
.about-exp .content-wrapper .grid-wrapper .content .point {
  @apply flex items-start gap-16 relative;
}
.about-exp .content-wrapper .grid-wrapper .content .point svg {
  @apply w-12 h-12 min-w-12;
}
.about-exp .content-wrapper .grid-wrapper .content .point .year {
  font-family: Inter Tight, serif;
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 1;
  @apply text-primary;
}
.about-exp .content-wrapper .grid-wrapper .content .point .wrapper .name {
  font-family: Inter Tight, serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 0.875rem;
}
.about-exp .content-wrapper .grid-wrapper .content .point:last-child:before {
  @apply bg-white w-0.5 h-full absolute top-6;
  z-index: -1;
  left: 1.375rem;
  content: "";
}
.about-exp .content-wrapper .about-exp-swiper {
  @apply w-full h-full hidden overflow-hidden;
}
.about-exp .content-wrapper .about-exp-swiper .card {
  flex: 0 0 calc(33.33% - 1.375rem);
}
.about-exp .content-wrapper .about-exp-swiper .card .img-wrapper {
  @apply w-full overflow-hidden rounded-3xl relative;
  aspect-ratio: 2.413;
}
.about-exp .content-wrapper .about-exp-swiper .card .content-wrapper {
  @apply mt-6 flex flex-col gap-10;
}
.about-exp .content-wrapper .about-exp-swiper .card .content-wrapper .description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.about-exp .content-wrapper .about-exp-swiper .card .content-wrapper .flex-wrapper {
  @apply flex items-center gap-4;
}
.about-exp .content-wrapper .about-exp-swiper .card .content-wrapper .flex-wrapper .profile {
  @apply rounded-full overflow-hidden w-14 h-14;
}
.about-exp .content-wrapper .about-exp-swiper .c-swiper {
  @apply pb-9;
}
.about-exp .content-wrapper .about-exp-swiper .c-swiper .swiper-pagination-bullet-active {
  @apply bg-warning;
}

@media (max-width: 1536px) {
  .about-brand .content-wrapper .flex-wrapper .heading {
    font-size: 4.5rem;
  }
  .about-media .content .flex-wrapper .heading {
    font-size: 4.5rem;
  }
  .about-media .content .about-swiper .card .img-wrapper {
    @apply rounded-3xl;
  }
  .about-media .content .about-swiper .card .content-wrapper {
    @apply mt-5 gap-8;
  }
  .about-media .content .about-swiper .card .content-wrapper .description {
    font-size: 1.25rem;
  }
  .about-media .content .about-swiper .card .content-wrapper .flex-wrapper {
    @apply gap-3;
  }
  .about-media .content .about-swiper .card .content-wrapper .flex-wrapper .profile {
    width: 4rem;
    height: 4rem;
  }
  .about-founder {
    padding: 7rem 0;
  }
  .about-founder .wrapper {
    gap: 3.5rem;
  }
  .about-founder .wrapper .left-content {
    max-width: 37.5rem;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper {
    @apply gap-5;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper .heading {
    font-size: 4.5rem;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper svg {
    width: 7rem;
  }
  .about-founder .wrapper .left-content .info-data {
    font-size: 2rem;
    @apply mb-3 mt-28;
  }
  .about-mission .content-wrapper .flex-wrapper .heading {
    font-size: 4.5rem;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number {
    font-size: 14rem;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number .plus {
    font-size: 7rem;
  }
  .about-mission .content-wrapper .grid-wrapper .description {
    max-width: 37.5rem;
  }
  .about-exp .content-wrapper .flex-wrapper .heading {
    font-size: 4.5rem;
  }
  .about-exp .content-wrapper .grid-wrapper {
    @apply gap-16;
  }
  .about-exp .content-wrapper .grid-wrapper .content {
    max-width: 50%;
    gap: 8rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point {
    @apply gap-12;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point .year {
    font-size: 3rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point .wrapper .name {
    font-size: 2.25rem;
  }
}
@media (max-width: 1400px) {
  .about-brand .content-wrapper .flex-wrapper .heading {
    font-size: 4rem;
  }
  .about-media .content .flex-wrapper .heading {
    font-size: 4rem;
  }
  .about-media .content .about-swiper .card .img-wrapper {
    @apply rounded-2xl;
  }
  .about-media .content .about-swiper .card .content-wrapper {
    @apply mt-4 gap-6;
  }
  .about-media .content .about-swiper .card .content-wrapper .description {
    font-size: 1.125rem;
  }
  .about-media .content .about-swiper .card .content-wrapper .flex-wrapper {
    @apply gap-2;
  }
  .about-media .content .about-swiper .card .content-wrapper .flex-wrapper .profile {
    @apply w-12 h-12;
    min-width: 3rem;
  }
  .about-founder {
    padding: 6.25rem 0;
  }
  .about-founder .wrapper {
    gap: 1.5rem;
  }
  .about-founder .wrapper .left-content {
    max-width: 32.5rem;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper {
    @apply gap-4;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper .heading {
    font-size: 4rem;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper svg {
    width: 5rem;
  }
  .about-founder .wrapper .left-content .info-data {
    font-size: 1.75rem;
    @apply mb-2 mt-20;
  }
  .about-founder .wrapper .right-content {
    @apply rounded-2xl;
  }
  .about-mission .content-wrapper .flex-wrapper .heading {
    font-size: 4rem;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number {
    font-size: 12.5rem;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number .plus {
    font-size: 6.25rem;
  }
  .about-mission .content-wrapper .grid-wrapper .pill {
    @apply flex-shrink-0;
  }
  .about-mission .content-wrapper .grid-wrapper .description {
    max-width: 35rem;
  }
  .about-exp .content-wrapper .flex-wrapper .heading {
    font-size: 4rem;
  }
  .about-exp .content-wrapper .grid-wrapper {
    @apply gap-6;
  }
  .about-exp .content-wrapper .grid-wrapper .img-wrapper {
    @apply rounded-2xl;
  }
  .about-exp .content-wrapper .grid-wrapper .content {
    max-width: 55%;
    gap: 4rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point {
    @apply gap-8;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point .year {
    font-size: 2.5rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point .wrapper .name {
    font-size: 2rem;
  }
}
@media (max-width: 1200px) {
  .about-brand {
    @apply py-16;
  }
  .about-brand .content-wrapper .flex-wrapper .heading {
    font-size: 3rem;
  }
  .about-media {
    @apply py-16;
  }
  .about-media .content .flex-wrapper .heading {
    font-size: 3rem;
  }
  .about-founder {
    padding: 5rem 0;
  }
  .about-founder .wrapper .left-content {
    max-width: 25.625rem;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper .heading {
    font-size: 3rem;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper svg {
    width: 4rem;
  }
  .about-mission {
    @apply py-16;
  }
  .about-mission .content-wrapper .flex-wrapper .heading {
    font-size: 3rem;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number {
    font-size: 10rem;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number .plus {
    font-size: 4rem;
  }
  .about-mission .content-wrapper .grid-wrapper .description {
    max-width: 32.5rem;
  }
  .about-exp {
    @apply py-16;
  }
  .about-exp .content-wrapper .flex-wrapper .heading {
    font-size: 3rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content {
    gap: 2.5rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content:before {
    left: 1.1875rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point svg {
    @apply w-10 h-10 min-w-10;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point .year {
    font-size: 2.25rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point .wrapper .name {
    font-size: 1.75rem;
  }
  .about-exp .content-wrapper .grid-wrapper .content .point:last-child:before {
    left: 1.1875rem;
  }
}
@media (max-width: 992px) {
  .about-brand {
    @apply py-12;
  }
  .about-brand .pill {
    @apply mx-auto;
  }
  .about-brand .content-wrapper {
    @apply pt-0 border-t-0 mt-8 flex-col gap-10;
  }
  .about-brand .content-wrapper .flex-wrapper {
    @apply flex-col items-center justify-center text-center gap-4;
  }
  .about-brand .content-wrapper .flex-wrapper .sub-heading {
    @apply text-center;
  }
  .about-brand .content-wrapper .grid-wrapper {
    @apply flex flex-wrap;
  }
  .about-brand .content-wrapper .grid-wrapper .card {
    flex: 0 0 20%;
    @apply p-6;
  }
  .about-media {
    @apply py-12;
  }
  .about-media .pill {
    @apply mx-auto;
  }
  .about-media .content {
    @apply pt-0 border-t-0 mt-8 flex-col gap-10;
  }
  .about-media .content .flex-wrapper {
    @apply flex-col items-center justify-center text-center gap-4;
  }
  .about-media .content .flex-wrapper .sub-heading {
    @apply text-center;
  }
  .about-media .content .about-swiper .card .content-wrapper .flex-wrapper {
    @apply flex-wrap flex-row justify-start;
  }
  .about-founder {
    padding: 4rem 0;
  }
  .about-founder .wrapper .left-content {
    max-width: 100%;
  }
  .about-founder .wrapper .left-content .data-wrapper {
    @apply grid grid-cols-2 items-center gap-6 mb-8;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper .heading {
    font-size: 4rem;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper svg {
    width: 64px;
  }
  .about-founder .wrapper .left-content .data-wrapper .img-wrapper {
    @apply flex;
  }
  .about-founder .wrapper .left-content .info-data {
    @apply hidden;
  }
  .about-founder .wrapper .right-content {
    @apply hidden;
  }
  .about-mission {
    @apply py-12;
  }
  .about-mission .pill {
    @apply mx-auto;
  }
  .about-mission .content-wrapper {
    @apply pt-0 border-t-0 mt-8 flex-col gap-10;
  }
  .about-mission .content-wrapper .flex-wrapper {
    @apply flex-col items-center justify-center text-center gap-4;
  }
  .about-mission .content-wrapper .flex-wrapper .sub-heading {
    @apply text-center;
  }
  .about-mission .content-wrapper .grid-wrapper {
    @apply flex-col;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number {
    @apply items-center text-black mr-0;
    font-size: 4rem;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number .plus {
    font-size: 32px;
  }
  .about-mission .content-wrapper .grid-wrapper .pill {
    @apply rotate-0 border-0 outline-0 p-0 text-grey-400;
  }
  .about-mission .content-wrapper .grid-wrapper .description {
    @apply mx-auto text-center mt-14;
  }
  .about-exp {
    @apply py-12;
  }
  .about-exp .pill {
    @apply mx-auto;
  }
  .about-exp .content-wrapper {
    @apply pt-0 border-t-0 mt-8 flex-col gap-10;
  }
  .about-exp .content-wrapper .flex-wrapper {
    @apply flex-col items-center justify-center text-center gap-4;
  }
  .about-exp .content-wrapper .flex-wrapper .sub-heading {
    @apply text-center;
  }
  .about-exp .content-wrapper .grid-wrapper {
    @apply hidden;
  }
  .about-exp .content-wrapper .about-exp-swiper {
    @apply block;
  }
  .about-exp .content-wrapper .about-exp-swiper .card .content-wrapper .flex-wrapper {
    @apply flex-wrap flex-row justify-start;
  }
}
@media (max-width: 768px) {
  .about-brand .content-wrapper .grid-wrapper {
    @apply flex flex-wrap;
  }
  .about-brand .content-wrapper .grid-wrapper .card {
    flex: 0 0 20%;
    @apply p-3.5;
  }
  .about-founder {
    padding: 2.5rem 0;
  }
}
@media (max-width: 568px) {
  .about-brand {
    @apply py-10;
  }
  .about-brand .pill {
    @apply mx-auto text-sm px-4 py-2;
  }
  .about-brand .content-wrapper .flex-wrapper .heading {
    font-size: 2rem;
  }
  .about-brand .content-wrapper .grid-wrapper .card {
    flex: 0 0 33%;
    @apply p-3;
  }
  .about-media {
    @apply py-10;
  }
  .about-media .pill {
    @apply mx-auto text-sm px-4 py-2;
  }
  .about-media .content {
    @apply pt-0 border-t-0 mt-8 flex-col gap-10;
  }
  .about-media .content .flex-wrapper .heading {
    font-size: 2rem;
  }
  .about-media .content .about-swiper .card .img-wrapper {
    aspect-ratio: 1.4;
  }
  .about-media .content .about-swiper .card .content-wrapper {
    @apply mt-5 gap-4;
  }
  .about-media .content .about-swiper .card .content-wrapper .description {
    font-size: 1rem;
  }
  .about-media .content .about-swiper .card .content-wrapper .flex-wrapper {
    @apply gap-3;
  }
  .about-media .content .about-swiper .card .content-wrapper .flex-wrapper .profile {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
  }
  .about-founder {
    padding: 40px 0;
  }
  .about-founder .wrapper .left-content .data-wrapper {
    @apply grid grid-cols-2 items-center gap-6 mb-8;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper .heading {
    font-size: 2rem;
  }
  .about-founder .wrapper .left-content .data-wrapper .heading-wrapper svg {
    width: 40px;
  }
  .about-founder .wrapper .left-content .data-wrapper .img-wrapper {
    @apply flex;
  }
  .about-founder .wrapper .left-content .info-data {
    @apply hidden;
  }
  .about-founder .wrapper .right-content {
    @apply hidden;
  }
  .about-mission {
    @apply py-10;
  }
  .about-mission .pill {
    @apply mx-auto text-sm px-4 py-2;
  }
  .about-mission .content-wrapper {
    @apply pt-0 border-t-0 mt-8 flex-col gap-10;
  }
  .about-mission .content-wrapper .flex-wrapper .heading {
    font-size: 2rem;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number {
    font-size: 32px;
  }
  .about-mission .content-wrapper .grid-wrapper .font-number .plus {
    font-size: 32px;
  }
  .about-mission .content-wrapper .grid-wrapper .description {
    @apply mt-8;
  }
  .about-exp {
    @apply py-10;
  }
  .about-exp .pill {
    @apply mx-auto text-sm px-4 py-2;
  }
  .about-exp .content-wrapper {
    @apply pt-0 border-t-0 mt-8 flex-col gap-4;
  }
  .about-exp .content-wrapper .flex-wrapper .heading {
    font-size: 2rem;
  }
  .about-exp .content-wrapper .about-exp-swiper .card .img-wrapper {
    aspect-ratio: 1.4;
  }
  .about-exp .content-wrapper .about-exp-swiper .card .content-wrapper {
    @apply mt-5 gap-4;
  }
  .about-exp .content-wrapper .about-exp-swiper .card .content-wrapper .description {
    font-size: 1rem;
  }
  .about-exp .content-wrapper .about-exp-swiper .card .content-wrapper .flex-wrapper {
    @apply gap-3;
  }
  .about-exp .content-wrapper .about-exp-swiper .card .content-wrapper .flex-wrapper .profile {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
  }
}

/*# sourceMappingURL=about.css.map */
